* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
body {
  background-color: #fafafa;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.35;
  text-align: left;
}
img {
  max-width: 100%;
}

p {
  margin-bottom: 10px;
}
/* Layout */
.layout-section {
  float: left;
  width: 100%;
}

/* Content */
.a-left {
  float: left;
  width: 25%;
}
.a-right {
  float: right;
  width: 25%;
}
.content {
  float: left;
  width: 75%;
}
.three-column .content {
  width: 50%;
}
